         <br><br>
   <div id="dvmaincontainer">
    <!--main div container starts here-->

    <div id="dvbodycontainer">
      <!-- body div starts here-->
      <div id="dvbannerbgcontainer">
        <!-- banner bg div starts here-->
        <div class="lftcontainer">
          <div class="dvbannerleft">
            <!-- banner left div starts here-->
            <img src="<%= asset_path( 'fb-image.png' ) %>"  alt="" title=""/>
            <p><b>Follow us on Facebook</b> One of our services is our bright ideas and details.</p>
            <!-- banner left div ends here-->
          </div>
          <div class="dvbannerleft">
            <!-- banner left div starts here-->
            <img src="<%= asset_path( 'tw-image.png' ) %>"  alt="" title=""/>
            <p><b>Follow us on Twitter</b> We provide you with a detailed price quote.</p>
            <!-- banner left div ends here-->
          </div>
          <div class="dvbannerleft">
            <!-- banner left div starts here-->
            <img src="<%= asset_path( 'google-image.png' ) %>"  alt="" title=""/>
            <p><b>Follow us on Google Plus</b> We care about the environment and our projects.</p>
            <!-- banner left div ends here-->
          </div>
        </div>
        <div id="dvbanner">
          <!-- banner div starts here-->
          <div style="border: 2px solid black;">
          <img src="<%= asset_path( 'banner.png' ) %>"  alt="" title=""/>
          </div>
          <!-- banner div ends here-->
        </div>
        <!-- banner bg div ends here-->
      </div>
      <div id="dvleftpanel">
        <!-- left pannel div starts here-->
        <div id="topimage"> 
          Faselty Service  
        </div>
        <div id="midcont">
          <!-- left body div starts here-->
          <p><img src="<%= asset_path( 'faselty-image.png' ) %>"  alt="" title=""/> </p> 
        
        </div> 

      </div>
      <div id="dvrightpanel">
        <!-- right panel div starts here-->
        <h1>ما هي فصيلتي؟</h1>
        <p dir="rtl">فصيلتي هي شبكة وحل لعملية التبرع بالدم. تقدم فصيلتي خدماتها للمتبرعين بالدم ولطالبي الدم كما تتعاون مع مراكز الدم والمستشفيات لتطوير وتحسين عملية التبرع بالدم. تجمع فصيلتي كل المساهمين في عملية التبرع بالدم عن طريق موقعها وتطبيقها للهواتف الخلوية ونظام الجرد والمتابعة واستخدام وسائل الاتصالات وتكنولوجيا المعلومات المتعددة. </p>
        <div class="line"><img src="<%= asset_path( 'h_line.jpg' ) %>" alt="" width="535" height="1" title="" /></div>
        
        <div style="float:right;" class="flex-video">
              <iframe width="530" height="315" src="//www.youtube.com/embed/_lST9cm5jts" frameborder="0" allowfullscreen></iframe>
        </div>
        
         
        <div id="righttfoot"> <img src="<%= asset_path( 'fb-image.png' ) %>" alt="" title="" />
          <p>We are great to work with on projects.</p>
          <img src="<%= asset_path( 'tw-image.png' ) %>" alt="" title="" />
          <p>We have great ideas that will benefit you.</p>
          <img src="<%= asset_path( 'google-image.png' ) %>" alt="" title="" />
        </div>
        <!-- right panel div ends here-->
      </div>
      <!-- body div ends here-->
    </div>
    
    <!--main div container ends here-->
  </div> 