%h2 Resend unlock instructions

= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|

  = devise_error_messages!

  .form-set
    = f.label :email
    = f.email_field :email, autofocus: true, class: 'input'
  .form-set
    = f.submit 'Resend unlock instructions', class: 'button'

= render 'users/shared/links'