
<% content_for :title, "التبرعات النشطه" %> 

<p><%= link_to 'الرجوع للصفحه الشخصيه', show_users_path(current_user) %> </p> 
<% if @requests.size != 0%>

<h1>Active Donations Requests</h1>

<table width="80%">
  <thead>
    <tr> 
      <th>blood type</th>
      <th>Expire date</th>
      <th>Blood bag</th>
      <th>Hospital name</th>  
    </tr>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
      <tr> 
        <td><%= request.blood_type %></td>
        <td><%= request.expiredate %></td>
        <td><%= request.bloodbag %></td>
        <td><%= request.hospital_name %></td>  

        <% if !request.expiredate.past? %>
        <td><%= link_to 'Show', request %></td>
        <td><%= link_to 'cancel', cancel_donate_requests_path(request), data: { confirm: 'Are you sure?' } %></td>
        <td><a href="https://www.facebook.com/sharer/sharer.php?u=request_url(r) ">share fb</a></td>
        <!-- Twitter share -->
        <td><a href="https://twitter.com/intent/tweet?url=request_url(r)">share tw</a>
        </td>
        <!-- G+ share -->
        <td><a href="https://plus.google.com/share?url=request_url(r)">shere g+</a></td>

        <% else %>
        <td>expired</td>
        <td><%= link_to 'cancel', cancel_donate_requests_path(request), data: { confirm: 'Are you sure?' } %></td>
        <% end %>


        <!-- <td><%= link_to 'Edit', edit_request_path(request) %></td>
        <td><%= link_to 'Destroy', request, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<% else %>

<h1>No active donations</h1>
<% end %>


