<% if !@user.hide_account || (@user.hide_account && current_user && @user.id == current_user.id) %>
 <div class="main row">
	<div class="cover col-sm-12">
		<img src="<%= asset_path( 'cover.jpg' ) %>" height="95%" width="1000">
	</div>

	<div class="profile thumbnail with-caption">
		<img src="<%= asset_path( 'profile.png' ) %>" height="100%" width="100%">
		<p style="text-align:center;"> <%=  @user.name %> </p>
	</div>

	<div class="col-sm-12" dir="rtl" style="margin-top:-100px;">
		<h3><img src="<%= asset_path( 'email.png' ) %>" height="30" width="30">
		 &nbsp;<%= @user.email %></h3><br>
		<h3><img src="<%= asset_path( 'phone.png' ) %>" height="30" width="30">
		 &nbsp;<%= @user.phone %></h3><br>
		<h3><img src="<%= asset_path( 'home.png' ) %>" height="30" width="30">
		 &nbsp;<%= @user.location_name %></h3><br>
		<h3><img src="<%= asset_path( 'profile.png' ) %>" height="30" width="30">
		 &nbsp;<%= @user.birth_date %></h3><br>

		 <% if current_user && @user.id == current_user.id %>
		<h3><img src="<%= asset_path( 'profile.png' ) %>" height="30" width="30">
		 &nbsp;<%= @user.nationalid %></h3><br>
		 <% end %>

		<h3><img src="<%= asset_path( 'profile.png' ) %>" height="30" width="30">
		 &nbsp;<%= @user.gender %></h3><br>
		<h3><img src="<%= asset_path( 'profile.png' ) %>" height="30" width="30">
		 &nbsp;<%= @user.blood_type %></h3><br>

		<h3><img src="<%= asset_path( 'profile.png' ) %>" height="30" width="30">
		 &nbsp;<%= "number of saved people: #{@user.savedpeople}" %></h3><br>
		<h3><img src="<%= asset_path( 'profile.png' ) %>" height="30" width="30">
		 &nbsp;<%= "last donation time: #{@user.lastdonation}" %></h3><br>

		<h3><img src="<%= asset_path( 'profile.png' ) %>" height="30" width="30">
		 &nbsp;<%= "number of active requests : #{@user.num_of_active_requests} " %></h3><br>
		 <% if current_user && @user.id == current_user.id %>
		 <h3><img src="<%= asset_path( 'profile.png' ) %>" height="30" width="30">
		 &nbsp;<%= link_to 'الطلبات قيد الإنتظار', active_donations_users_path(current_user)%></h3><br>
		 <% content_for :title, "الصفحه الشخصيه" %>
		 <% else %>
			<% content_for :title, "donor info" %>
		 <% end %>
	</div>
</div>
<% else %>
<br><br><br>
<% content_for :title, "donor info" %>
<div align="center">
<img src="http://solve-problems.ws/images/img_1/aff97a64e38dd909871470b922d459bf.gif" height="200" width="200" />
<h1>You can not see this donor info</h1>
</div>
<% end %>