<link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>

<% content_for :title, "History" %>

<aside class="right-side">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            History Registered Cases
            <small>Control panel</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#" onclick="window.location.href = '/controls'"><i class="fa fa-dashboard"></i> Home</a></li>
            <li> Dashboard</li>
            <li> History</li>
            <li class="active"> Registered Cases</li>
        </ol>
    </section>
  <!-- Main content -->
  <section class="content">
<div align="center">
	<br><br><br>
	<%=form_for :controls, url: url_for( :controller => :admincommands, :action => :search_registerd_cases ) do |f| %> 

	<div class="field"> 
		<%= f.text_field :date, :required=>"", :placeholder=>"Enter The Date" , :id=>"datepicker" %>
		<script type="text/javascript">
			$(function() {
				$( "#datepicker" ).datepicker({changeYear: true, yearRange : '-100:+0', dateFormat: 'yy-mm-dd'});
			});
		</script>

		<%= f.submit "Search Cases" %>
	</div>

	<% end %> 
	<br>
	<% if @requests.size == 0 %>
	<br><br>
	<h2>No cases registered today</h2>
	<br><br>
	<% else %>
	<h2>There are <%= @requests.size %> cases registered today</h2>
	<% @requests.each do |request| %>
	<div class="CSSTableGenerator" >
		<table > 
			<tr><td>Contact Name</td><td><%= request.contact_name %></td></tr>
			<tr><td>Contact Email</td><td><%= request.contact_email %></td></tr>
			<tr><td>Contact Mobile</td><td><%= request.contact_phone %></td></tr>
			<tr><td>Contact National ID</td><td><%= request.contact_nationalid %></td></tr>
			<tr><td>Patient Name </td><td><%= request.patient_name %></td></tr>
			<tr><td>Patient blood type</td><td><%= request.blood_type %></td></tr>
			<tr><td>Blood bag</td><td><%= request.bloodbag %></td></tr>
			<tr><td>Expire Date</td><td><%= request.expiredate %></td></tr>
			<tr><td>Hospital Name</td><td><%= request.hospital_name %></td></tr>
			<tr><td>Hospital location</td><td><%= request.hospital_location %></td></tr>
			<tr><td>Number of donors</td><td><%= request.num_of_donors %></td></tr>
			<tr style="background-color:#ffffff;"><td>Update Info</td><td>
				<%=form_for :controls, url: url_for( :controller => :admincommands, :action => :case ) do |f| %> 

				<div class="field"> 
					<%= f.text_field :request_id, :hidden => true, :value => request.id %>
					<%= f.submit "Update Info", class: "submit-button" %>
				</div>

				<% end %>
			</td> 
		</tr> 
		<tr style="background-color:#ffffff;">
		<td>Delete this case</td>
			<td>
				<%=form_for :controls, url: url_for( :controller => :admincommands, :action => :deletecase ) do |f| %> 

				<div class="field">  
				<%= f.text_field :request_id, :hidden => true, :value => request.id %> 
					<%= f.submit "Cancel this Case", class: "submit-button" %>
				</div>

				<% end %> 
			</td>	
		</tr>
	</table>
</div><br><br>
<% end %>

<% end %>
</div></section>
	</aside>
