<% content_for :title, "login info" %> 

<div align="center">
<h2>Edit super admin login info </h2>

<%=form_for :controls, url: url_for( :controller => :controls, :action => :edit ) do |f| %> 

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, :value => current_admin.email %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", :required => true %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", :required => true %>
  </div>

  <div class="actions">
    <%= f.submit "Update info" %>
  </div>

<% end %> 
</div>

