<script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>

<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<script type="text/javascript">
    
var usersperday = []
var usersperday = [] 

$(function () {
    
$('#container-case-day').highcharts({
    chart: {
            //type: 'column'
        },
        title: {
            text: 'Daily Average Registered Cases'
        },
        subtitle: {
            text: 'Cases per day'
        },
        xAxis: {
            categories: ['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20',
            '21','22','23','24','25','26','27','28','29','30','31']
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Cases (per day)'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b> {point.y:.1f} person</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: 'Cases',
            color: 'blue',
            type: 'line',
            data: requestsperday

        }]
    }); 
$('#container-donor-day').highcharts({
    chart: {
            //type: 'column'
        },
        title: {
            text: 'Daily Average Registered Donors'
        },
        subtitle: {
            text: 'Donors per day'
        },
        xAxis: {
            categories: ['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20',
            '21','22','23','24','25','26','27','28','29','30','31']
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Cases (per day)'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b> {point.y:.1f} person</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: 'Donors',
            color: 'red',
            type: 'line',
            data: usersperday

        }]
    }); 
});  
</script> 
<%= javascript_tag "usersperday  =  #{@usersperday.to_a}" %>
<%= javascript_tag "requestsperday  =  #{@requestsperday.to_a}" %>

<% content_for :title, "Dashboard" %>
<aside class="right-side">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Dashboard
            <small>Control panel</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#" onclick="window.location.href = '/controls'"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
 <!-- Small boxes (Stat box) -->
 <div class="row">
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>
                    <%= @active_requests_number %>
                </h3>
                <p>
                    Active Cases
                </p>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div> 
        </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
            <div class="inner">
                <h3>
                   <%= @expired_requests_number %> 
                </h3>
                <p>
                    Expired cases
                </p>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div> 
        </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>
                    <%= @users_number %>
                </h3>
                <p>
                    Donors Registrations
                </p>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div> 
        </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
            <div class="inner">
                <h3>
                    <%= @requests_number %>
                </h3>
                <p>
                    Cases Registrations
                </p>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div> 
        </div>
    </div><!-- ./col -->
</div><!-- /.row -->

<!-- top row -->
<div class="row">
    <div class="col-xs-12 connectedSortable">

    </div><!-- /.col -->
</div>
<!-- /.row -->

<!-- Main row -->
<div class="row">
    <!-- Left col -->
    <section class="col-lg-6 connectedSortable"> 
        <!-- quick email widget -->
        <div class="box box-info">
            <div class="box-header">
                <i class="fa fa-envelope"></i>
                <h3 class="box-title">Quick Email</h3>
                <!-- tools box -->
                <div class="pull-right box-tools">
                    <button class="btn btn-info btn-sm" data-widget="remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>
                </div><!-- /. tools -->
            </div>
            <div class="box-body">
                <%=form_for :controls, url: url_for( :controller => :admincommands, :action => :sendemail ) do |f| %> 
                 
                <div class="form-group">
                    <%= f.text_field :user_email, :required => '', placeholder: 'Email to:' ,:style => "width: 100%;"%> 
                </div>
                <div class="form-group">
                    <%= f.text_field :subject, :required => '', placeholder: 'Subject',:style => "width: 100%;"  %>
                </div>
                <div>   
                    <%= f.text_area(:textmsg, :required => '', placeholder: 'write the message here and click send', :class => 'textarea', :style => "width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;") %>
                </div>
                 <div class="box-footer clearfix">
                <%= f.submit "Send Email", :class => 'pull-right btn btn-default' %>
                </div>
                <% end %> 
            </div> 
    </section> 
    <section class="col-lg-6 connectedSortable"> 
         <!-- Map box -->
        <div class="box box-primary"> 
            <div class="box-header"> 
                <div class="pull-right box-tools">
                    <button class="btn btn-info btn-sm" data-widget="remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>
                </div><!-- /. tools -->
            </div>
            <div id="container-donor-day"></div>
        </div>
        <div class="box box-info"> 
            <div class="box-header"> 
                <div class="pull-right box-tools">
                    <button class="btn btn-info btn-sm" data-widget="remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>
                </div><!-- /. tools -->
            </div>
            <div id="container-case-day"></div>         
        </div>
    </section> 
</div><!-- /.row (main row) -->
    </section>
    </aside>