<script src="https://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places" type="text/javascript"></script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>

<script type="text/javascript">
 function initialize() {
  var input = document.getElementById('searchTextField');
  var autocomplete = new google.maps.places.Autocomplete(input);
  google.maps.event.addListener(autocomplete, 'place_changed', function () {
    var place = autocomplete.getPlace();
    document.getElementById('addName').value = document.getElementById('searchTextField').value;
    document.getElementById('addLat').value = place.geometry.location.lat();
    document.getElementById('addLng').value = place.geometry.location.lng();
  });
}
google.maps.event.addDomListener(window, 'load', initialize); 
</script> 

<% content_for :title, "Edit Case" %> 
<div align="center">

  <%=form_for :controls, url: url_for( :controller => :admincommands, :action => :update_case ) do |f| %> 

  <div class="field">
    <%= f.label :'contact name' %><br />
    <%= f.text_field :contact_name, :value => @request.contact_name %>
  </div>

  <div class="field">
    <%= f.label :'contact email' %><br />
    <%= f.text_field :contact_email, :value => @request.contact_email %>
  </div>

  <div class="field">
    <%= f.label :'contact phone' %><br />
    <%= f.text_field :contact_phone, :value => @request.contact_phone %>
  </div>

  <div class="field">
    <%= f.label :'contact national id' %><br />
    <%= f.text_field :contact_nationalid, :value => @request.contact_nationalid %>
  </div>
  
  <div class="field">
    <%= f.label :'patient name' %><br />
    <%= f.text_field :patient_name, :value => @request.patient_name %>
  </div>

  <div class="field">
    <%= f.label :'blood type' %><br />
    <%= f.select :blood_type, options_for_select([["A+","A+"],["A-","A-"],
      ["B+","B+"],["B-","B-"],
      ["O+","O+"],["O-","O-"],
      ["AB+","AB+"],["AB-","AB-"]], @request.blood_type) %> 
    </div>

    <div class="field">
    <%= f.label :'blood bag' %><br />
      <%= f.text_field :bloodbag, :value => @request.bloodbag %>
    </div>

    <div class="field">
      <%= f.label :'hospital name' %><br />
      <%= f.text_field :hospital_name, :value => @request.hospital_name %>
    </div>

    <div class="field">
      <%= f.label :'hospital location' %><br />
      <input id="searchTextField" type="text" size="50" placeholder="Enter a location" autocomplete="on" runat="server" value="<%= @request.hospital_location %>" /> 

      <%= f.text_field :hospital_location, autofocus: true, id: 'addName', hidden: true, :value => @request.hospital_location %>
      <%= f.text_field :hospital_location_lat, autofocus: true, id: 'addLat', hidden: true, :value => @request.hospital_location_lat %> 
      <%= f.text_field :hospital_location_lng, autofocus: true, id: 'addLng', hidden: true, :value => @request.hospital_location_lng %>
    </div>
    
    <div class="field">
      <%= f.label :'expire date' %><br />
      <%= f.text_field :expiredate, :required=>"", :id=>"datepicker", :value => @request.expiredate  %>
      <script type="text/javascript">
        $(function() {
          $( "#datepicker" ).datepicker({changeYear: true, yearRange : '-100:+0',dateFormat: 'yy-mm-dd'});
        });
      </script>
    </div>

    <div class="actions">
      <%= f.submit "Update Info" %>
    </div>
    <% end %> 
    <br><hr><br>
    <div>
      <%=form_for :controls, url: url_for( :controller => :admincommands, :action => :deletecase ) do |f| %> 

      <div class="field"> 
        <%= f.text_field :request_id, :hidden => true, :value => @request.id %> 
        <%= f.submit "Delete this Case" %>
      </div>

      <% end %> 
    </div>
  </div>