

<div class="row content main_content">
	<ul> 
		<% if current_user %>
		<li><%= current_user.name %></li>
		<li><%= current_user.email %></li>
		<li><%= link_to 'Edit Profile',edit_user_registration_path %></li>
		<li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
		<li><a>
			<%= link_to current_user.name, user_path(current_user) %></a></li>
			<% else %>
			<li>
				<a><%= link_to 'signup', new_user_registration_path %></a>
			</li>
			
			<li>
				<a><%= link_to 'signin', new_user_session_path %></a>
			</li>

			<li>
				<a><%= link_to 'signin with facebook', new_user_session_path %></a>
			</li>

			<li>
				<a><%= link_to 'signin with twitter', new_user_session_path %></a>
			</li>

			<li>
				<a><%= link_to 'signin with google +', new_user_session_path %></a>
			</li>
			<% end %>
		</ul>
	</div>