<script type="text/javascript">
  $(document).ready(function () {
    $("#loading-div-background").css({ opacity: 0.8 });

  });
</script>
<div id="loading-div-background">
  <div id="loading-div" class="ui-corner-all" >
    <img style="height:80px;margin:30px;" src="https://www.tmdn.org/tmdsview-web/resources/images/loading-gallery.gif" alt="Loading.."/>
    <h2 style="color:gray;font-weight:normal;">Please wait....</h2>
  </div>
</div>

<%= form_for(@request, :html => {:onsubmit => "ShowProgressAnimation();"}) do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% @request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :'contact name' %><br>
    <%= f.text_field :contact_name, :required=>"Enter your name" %>
  </div>
  <div class="field">
    <%= f.label :'contact phone' %><br>
    <%= f.text_field :contact_phone, :required=>"Enter your mobile number" %>
  </div>
  <div class="field">
    <%= f.label :'contact email' %><br>
    <%= f.text_field :contact_email, :required=>"Enter your email" %>
  </div>
  <div class="field">
    <%= f.label :'contact national ID' %><br>
    <%= f.text_field :contact_nationalid, :required=>"Enter your national id" %>
  </div>

  <div class="field">
    <%= f.label :'patient name' %><br>
    <%= f.text_field :patient_name, :required=>"Enter the patient name" %>
  </div>
  
  <div class="field">
    <%= f.label :'blood type' %><br />
    <%= f.select(:blood_type, [["A+","A+"],["A-","A-"],
      ["B+","B+"],["B-","B-"],
      ["O+","O+"],["O-","O-"],
      ["AB+","AB+"],["AB-","AB-"]], include_blank: 'اختر فصيلة الدم') %>
  </div>

  <div class="field">
    <%= f.label :'expire date' %><br>
    <%= f.date_select :expiredate %>
  </div>
  <div class="field">
    <%= f.label :'blood bag' %><br>
    <%= f.number_field :bloodbag, :required=>"Enter number of blood bag" %>
  </div>
  <%= f.number_field :num_of_donors, :hidden => true, :value => 0 %>
  <div class="field">
    <%= f.label :'hospital name' %><br>
    <%= f.text_field :hospital_name, :required=>"Enter the hospital name" %>
  </div>
  
 <%= f.date_field :created_at, :value => Time.now.strftime("%Y-%m-%d"), :hidden =>true %>
  <div class="field">
    <%= f.label :'hospital address' %><br />
    <input id="hospital_searchTextField" type="text" size="50" placeholder="Enter a location" autocomplete="on" runat="server" value="<%= @request.hospital_location%>" /> 
    
    <%= f.text_field :hospital_location, autofocus: true, id: 'hospital_addName', hidden: true  %>

    <%= f.text_field :hospital_location_lat, autofocus: true, id: 'hospital_addLat', hidden: true  %> 
    <%= f.text_field :hospital_location_lng, autofocus: true, id: 'hospital_addLng', hidden: true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
 