 
<% content_for :title, "المتبرعين" %> 

<div  align="center">

<h1>active donors</h1>

<% i = 1 %>
<table width="30%">
  <thead>
    <tr> 
      <th>number</th>
      <th>user name</th>
      <th>user phone</th>  
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    <tr> 
      <% if current_user && user.id == current_user.id %> 
      <td><%= i %></td>
      <td>you</td>
      <td><%= user.phone %></td> 
      <% else  %>
      <td><%= i %></td>
      <td><%= user.name %></td>
      <td><%= user.phone %></td>
      <% end %>
    </tr>
    <% i = i + 1 %>
    <% end %>
  </tbody>
</table>

</div>

