<script type="text/javascript">
  $(document).ready(function () {
    $("#loading-div-background").css({ opacity: 0.8 });

  });
</script>
<div id="loading-div-background">
  <div id="loading-div" class="ui-corner-all" >
    <img style="height:80px;margin:30px;" src="https://www.tmdn.org/tmdsview-web/resources/images/loading-gallery.gif" alt="Loading.."/>
    <h2 style="color:gray;font-weight:normal;">Please wait....</h2>
  </div>
</div>

<% content_for :title, "صفحة الحالة" %> 

<div align="center">

<p>
  <strong>Contact Name:</strong>
  <%= @request.contact_name %>
</p>

<p>
  <strong>Contact Phone:</strong>
  <%= @request.contact_phone %>
</p>

<p>
  <strong>Contact Email:</strong>
  <%= @request.contact_email %>
</p>

<p>
  <strong>Contact National id:</strong>
  <%= @request.contact_nationalid %>
</p>

<p>
  <strong>Patient name:</strong>
  <%= @request.patient_name %>
</p>

<p>
  <strong>Patient blood type:</strong>
  <%= @request.blood_type %>
</p>

<p>
  <strong>Expire date:</strong>
  <%= @request.expiredate %>
</p>

<p>
  <strong>Blood bag:</strong>
  <%= @request.bloodbag %>
</p>

<p>
  <strong>Hospital name:</strong>
  <%= @request.hospital_name %>
</p>

<p>
  <strong>Hospital address:</strong>
  <%= @request.hospital_location %>
</p>

<p>
  <strong>number of donors :</strong>
  <%= @request.num_of_donors %>
</p>

<% if @request.num_of_donors != 0 %>
<p>
  <strong>  <%= link_to "show donors" , donors_requests_path(@request) %></strong>
</p>
<% end %>
<!-- Social Media share -->

<% if !@request.expiredate.past? %>
<div class="social-share">

  <!-- Developer Review: Replace  request_url(r)  with link to request link -->
  <!-- Facebook share -->
  <a href="https://www.facebook.com/sharer/sharer.php?u=request_url(r) ">share fb</a>
  <br>
  <!-- Twitter share -->
  <a href="https://twitter.com/intent/tweet?url=request_url(r)">share tw</a>
  <br>
  <!-- G+ share -->
  <a href="https://plus.google.com/share?url=request_url(r)">shere g+</a>

</div>
<%= link_to 'تبرع', donate_requests_path(@request),:onclick => "ShowProgressAnimation();" %> 
<% end %>
<br>

<%= link_to 'الرجوع الى صفحه الحالات', requests_path %>

  </div>

<!--%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path% -->
