!!!
%html{ lang: 'ar' }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }

    %title= content_for?(:title) ? yield(:title) + ' | ' + t('app_name') : t('app_name')

    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tag

  %body

    %header.site-header
      .row
        .small-4.large-4.column
          = link_to image_tag('logo.png', alt: t(:app_name), title: t(:app_name)), root_path, class: 'logo site-header__logo'

        .small-8.large-8.column
          = render 'shared/navigation'

    - if notice != nil
      = javascript_tag "show_notification_system('#{notice.to_s}');"
    - flash.each do |name, msg|
      - if msg == "Invalid email or password."
        = javascript_tag "show_notification_system('#{msg.to_s}');"
    - if current_user != nil && current_user.notifications != 0
      = javascript_tag "show_notification_blood('#{current_user.notifications.to_s}');"

    .wrapper
      = yield