<!DOCTYPE html>
<html>
<head>
	<title>فصيلتي | Faselty</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<br>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><img src="<%= asset_path( 'logo.png' ) %>" height="46" width="200"></a>
				<a class="navbar-brand-no" href="#"><img src="<%= asset_path( 'fb.png' ) %>" height="40" width="46"></a>
				<a class="navbar-brand-no" href="#"><img src="<%= asset_path( 'tw.png' ) %>" height="40" width="46"></a>
				<a class="navbar-brand-no" href="#"><img src="<%= asset_path( 'google.png' ) %>" height="40" width="46"></a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

				<ul class="nav navbar-nav navbar-right">		
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span> التبرع</a>

						<ul>
							<li><a href="#">الحالات</a></li>  
							<li>
								<a ><span class="caret"></span> ارشادات</a>
								<ul>
									<li><a href="#">عن التبرع</a></li>
									<li><a href="#">عن المتبرع</a></li>
									<li><a href="#">عن المريض</a></li>
									<li><a href="#">عن الدم</a></li>
								</ul>
							</li> 
						</ul>
					</li> 
					<li><a href="#">التواصل معنا</a></li>
					<li><a href="#">اخبار ودعايه</a></li> 
					<li><a href="#">عن فصيلتى</a></li>
					<% if current_user %>
					<li>
					<a style="font-size:20px;">
					<span class="caret"></span><%= current_user.name %></a>
						<ul>
							<li><a href="#">عرض الحساب</a></li> 
							<li><a href="#">اعدادات الحساب</a></li>
							<li><a href="#">تسجيل الخروج</a></li>
						</ul>	
					</li>
					<% end %>

				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>

	<%= yield %>
	<br><br> 


</body>
</html>
