<script type="text/javascript">

prepare_to_initialize();

</script>

<% content_for :title, "تعديل الحساب" %>
<div align="center">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :address %><br />
    <input id="searchTextField" class="search" type="text" size="50" placeholder="Enter a location" autocomplete="on" runat="server" value="<%= current_user.location_name %>" />

    <%= f.text_field :location_name, autofocus: true, id: 'addName', class: 'location_name', hidden: true %>
    <%= f.text_field :location_lat, autofocus: true, id: 'addLat', class:'location_lat', hidden: true %>
    <%= f.text_field :location_lng, autofocus: true, id: 'addLng', class:'location_lng',  hidden: true %>
  </div>

  <div class="field">
    <%= f.label :'blood type' %><br />
    <%= f.select(:blood_type, [["A+","A+"],["A-","A-"],
      ["B+","B+"],["B-","B-"],
      ["O+","O+"],["O-","O-"],
      ["AB+","AB+"],["AB-","AB-"]], include_blank: 'اختر فصيلة الدم') %>
    </div>

    <div class="field">
      <%= f.label :'birth date' %><br />
      <%= f.text_field :birth_date, :required=>"", :placeholder=>"Enter your Birth Date" , :id=>"datepicker"  , :class=>"dtpicker" %>
    </div>

    <div class="field">
      <%= f.label :'national ID' %><br />
      <%= f.text_field :nationalid, autofocus: true, :required=>"Enter your national id", :placeholder=>"Enter your national id" %>
    </div>

    <div class="field">
      <%= f.label :'last donation date' %><br />
      <%= f.text_field :lastdonation, :placeholder=>"Enter your last date of donation" , :id=>"picker" , :class=>"dtpicker" %>
    </div>

    <hr>
    <div class="field">
      <%= f.label "Hide Account Information" %><br />
      <%= f.select :hide_account, options_for_select([["False", "false"], ["True", "true"]], @user.hide_account) %>
    </div>
    <hr>
    <div class="field">
      <%= f.label "Stop receiving Messages by email when new cases matches my blood type" %><br />
      <%= f.select :stop_getting_email, options_for_select([["False", "false"], ["True", "true"]], @user.stop_getting_email) %>
    </div>
    <hr>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "off" %>
    </div>
    <hr>
    <div class="actions">
      <%= f.submit "Update" %>
    </div>
    <% end %>

    <p><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>


    <%= link_to "Back", :back %>
  </div>